<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Request</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'lending/css/styles.css' %}">
</head>
<body>
    <h1>Request a Loan</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    <script src="{% static 'lending/js/scripts.js' %}"></script>
</body>
</html>
